* {
  font-size: large;
}
button {
  outline: none;
  width: 100px;
  height: 30px;
}
h2 {
  margin-right: 15px;
}
input {
  outline: none;
  margin-right: 15px;
}
h1 {
  text-align: center;
}
.list {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.list div {
  margin: 20px;
}
.list .second h2,
.list .third h2 {
  display: inline;
}
